[flake8]
max-line-length = 88
extend-ignore = E203, E266, E501, W503, F401, F841, F541
max-complexity = 25
exclude =
    .git,
    __pycache__,
    .venv,
    build,
    dist,
    .eggs,
per-file-ignores =
    __init__.py:F401
    backend/app.py:E402,F811
    backend/tests/*.py:E402
